.ImageSlider {
  height: 100%;
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* border-radius: 10px; */
}
.images {
 height: 100%;
 width: auto;
 display: flex;
 justify-content: center;
 align-items: center;
 /* gap: 10px; */
 border-radius: 10px;
}
.middle-Image {
  height: 320px;
  width: 250px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.9);
}
.right-Image {
  height: 250px;
  width: 150px;
  object-fit: cover;
  border-radius: 10px;
  transform: translateX(40px);
z-index: -9;
}
.left-Image {
  height: 250px;
  width: 150px;
  object-fit: cover;
  border-radius: 10px;
transform: translateX(-40px);
z-index: -9;
}
.button {
  display: flex;
  gap: 15px;
}
.rightButton {
  padding: 10px;
  border: 1px solid black;
  border-radius: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftButton {
  padding: 10px;
  border: 1px solid black;
  border-radius: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dots {
  height: 5px;
  width: 5px;
  border: 1px solid black;
  border-radius: 100%;
}
.imageSliderContainer {
  width: 100%;
  height: 400px;
  padding: 10px;
  overflow: hidden;
  margin-left: 20px;
  
}
@media (max-width: 768px) {
  .ImageSlider {
    display: none;
  }
}
.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
 }

.leftButton,
.rightButton {
  font-size: 40px;
  cursor: pointer;
}

.dots-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  background: gray;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

.dot.active {
  background: black;
}
