.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.modal {
  /* background: white; */
  /* padding: 20px;
  width: 90%;
  max-width: 400px;
  border-radius: 8px; */
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);

  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);

  padding: 32px;
  width: 100%;
  max-width: 420px;
}

.modal input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}
